.page-title {
  position: relative;
  padding-top: 100px;
  animation: 1s slideInUp;
  animation-name: slideInUp;
}

.title_team {
  padding-left: 88px;
}

.line {
  height: 2px;
  width: 70px;
  background: black;
  transition: left 1s;
  position: absolute;
  top: 122px;
  left: 0;
  animation: 1s slideInUp;
  animation-name: slideInUp;
}

@media screen and (max-width: 640px) {
  .title_team {
    padding-left: 8px;
  }
  .line {
    left: -70px;
    top: 120px;
  }
  .team {
    padding-left: 8px;
  }
}

h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  margin: 0;
}

.whoarewe p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-align: left;
}

.whoarewe img {
  width: 60%;
}

.bold {
  font-weight: 800;
}

@media screen and (max-width: 750px) {
  .whoarewe img {
    margin-top: 30px;
    width: 80%;
  }
}

@media screen and (max-width: 640px) {
  .whoarewe img {
    margin-top: 30px;
    width: 100%;
  }
  .bazaar {
    margin-bottom: 0px;
  }
}

.team {
  padding-left: 70px;
}

.team p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 15px;
}
.team-pics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Humberto {
  display: flex;
  flex-direction: row;
}
.team-pics .text {
  font-size: 12px;
}
