.animation{
    animation-name: containerIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

* {
  font-family: 'Oswald', sans-serif;
}

html, body{
  margin: 0px;
  scroll-behavior: smooth;
  background-color: #F5F5F5;
  font-family: 'Oswald', sans-serif;
}


.container-fluid {
    padding-right: 2rem;
    padding-left: 2rem;

}

.page-section{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

p{
  margin: 0;
}

@keyframes containerIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
